
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', sans-serif;
}

body {
    font-size: 62.5%;
    color: #222;
   
}


.gallery {
    padding: 2rem 6rem;
    background: linear-gradient(to right, #d0b4b4, #97c0c6);
    text-align: center;
}

.gallery-title {
    font-size: 3rem;
    font-weight: 800;
    color: #004d40;
    margin-bottom: 3rem;
}

.gallery-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery-group img {
    width: 100%;
    height: auto;
    margin: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-group img:hover {
    transform: scale(1.02) translateY(-7px);
    transition: transform 0.3s ease;

}

